class __NAME__ < UITableViewCell

  def setSelected(selected,animated:animated)
    super
  end

  def layoutSubviews
    super
    $1
  end

  def setEditing(editing, animated:animated)
    super
  end

  # def prepareForReuse
  # end
end