class __NAME__ < UIViewController

  def init
    if super
      $1
    end
    self
  end

  def loadView
    self.view = UIView.alloc.initWithFrame(UIScreen.mainScreen.bounds)
    $2
  end

  def viewWillLoad
    super
  end

  def viewDidLoad
    super
  end

  def viewWillAppear
    super
  end

  def viewDidAppear
    super
  end

  def viewDidDisappear
    super
  end

  def viewWillUnload
    super
  end

  def viewDidUnload
    super
  end

  def viewWillDisappear
    super
  end
end