class __NAME__ < UIView

  def initWithFrame(frame)
    if super
      $1
    end
    self
  end

  def layoutSubviews
    super
    $2
  end

  # def self.layerClass
  #   CAGradientLayer
  # end

  # def drawRect(rect)
  # end
end